/* app css stylesheet */

body {
    background-color: yellowgreen;
}

input-list > .input-group {
    padding-bottom: 10px;
}

.app-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

tags-input .tags .tag-item {
    background: #0d87e9;
    border: none;
}

tags-input .tags .tag-item .remove-button {
    color: #ffffff;
}
