<div class="input-group" ng-repeat="item in collection track by $index">
    <input type="text" class="form-control" ng-model="item.value"/>
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="remove(this)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
    </span>
</div>
<div class="input-group">
    <input type="text" class="form-control input-list-new" placeholder="Add"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="add()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </span>
</div>
