<div class="row panel-heading">
    <h2 class="col-sm-12">Contacts</h2>
</div>
<div class="row panel-body">
    <div class="col-sm-12">
        <div class="row well-sm">
            <div class="col-sm-12 form-inline">
                <a href="#/contact/new" class="btn btn-primary pull-left" role="button">New contact</a>
                <input type="text" class="form-control pull-right" id="search" placeholder="Search..."
                    ng-model="search" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
            </div>
        </div>
        <div class="row well-sm">
            <div class="col-sm-12 list-group">
                <a href="#/contact/{{contact._id}}" class="list-group-item" ng-repeat="contact in contacts">
                    <span class="badge" ng-show="contact.bookmarked">&#10004;</span>
                    <span ng-show="!contact.firstName && !contact.lastName">(unnamed)</span>
                    {{contact.firstName}} {{contact.lastName}}
                </a>
            </div>
            <center class="no-contacts-message col-sm-offset-3 col-sm-6 bg-info" ng-show="!search && !contacts.length">
                No contacts yet. <a href="#contact/new">Add contact</a>
            </center>
            <center class="no-contacts-message col-sm-offset-3 col-sm-6 bg-info" ng-show="search && !contacts.length">
                No contacts match your search.
            </center>
        </div>
    </div>
</div>

