<div class="row panel-heading">
    <h2 class="col-sm-12">{{title}}</h2>
</div>
<div class="row panel-body">
    <div class="col-sm-12">
        <div class="row well-sm">
            <a class="btn btn-primary" href="#/" role="button">Back to contacts</a>
        </div>
        <div class="row well well-sm">
            <div class="col-sm-12">
                <form name="contactForm" class="form-horizontal" ng-submit="save()">
                    <fieldset>
                        <div class="form-group">
                            <label for="firstName" class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" placeholder="First name" ng-model="contact.firstName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-sm-2 control-label">Last name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="contact.lastName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Emails</label>
                            <div class="col-sm-10">
                                <input-list id="emailList" collection="contact.emails"></input-list>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneList" class="col-sm-2 control-label">Phone numbers</label>
                            <div class="col-sm-10">
                                <input-list id="phoneList" collection="contact.phones"></input-list>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" placeholder="Address" ng-model="contact.address"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <tags-input ng-model="contact.tags" replace-spaces-with-dashes="false" min-length="1"></tags-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="contact.bookmarked"> Bookmark
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Save"/>
                                <input type="button" class="btn btn-danger" value="Delete" ng-show="contact._id" ng-click="remove()"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
